{% extends 'base.html' %}
{% block content %}
<h2>Admin Dashboard 👑</h2>
<h4 class="mt-4">All Users</h4>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        {% for user in users %}
        <tr>
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<h4 class="mt-4">All Appointments</h4>
<table class="table table-bordered">
    <thead class="table-dark">
        <tr>
            <th>Patient</th>
            <th>Doctor</th>
            <th>Date</th>
            <th>Reason</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        {% for a in appointments %}
        <tr>
            <td>{{ a.patient.username }}</td>
            <td>{{ a.doctor_name }}</td>
            <td>{{ a.date }}</td>
            <td>{{ a.reason }}</td>
            <td>{{ a.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}
